.main-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-section {
  margin-bottom: 1.5rem;
}

.footer-section h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-social-icons {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.footer-social-icons a {
  color: #fff;
  font-size: 1.5rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-facebook:hover {
  color: #3b5898cb;
}

.fa-twitter {
  color: #00acee;
}
.fa-twitter:hover {
  color: #00abeed7;
}

.fa-instagram {
  color: #5851db;
}
.fa-instagram:hover {
  color: #4039cfd7;
}

.fa-youtube {
  color: #c4302b;
}
.fa-youtube:hover {
  color: #c4302bda;
}

.fa-google:hover {
  color: rgba(250, 250, 250, 0.767);
}

.consulta {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 15px 40px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.consulta:hover {
  background-color: #45a049d8;
}