body{
    font-family: Arial;
    margin: 0;
}
ul li{
    list-style: none;
}
h3 {
    margin-left: 10px;
    color: black;
}
a {
    text-decoration: none;
}
header img{
    margin: 15px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    display: flex;   
    justify-content: space-between;
    background-color: #d62828
}

