* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
body {
  margin: 0;
  background: url('../img/fondo.jpg');
}
header {
  border-bottom: solid 3px black;
  background-color: #650909;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  padding: 5px 20px;
}
header .logo {
  cursor: pointer;
}
header .logo img {
  height: 70px;
  border-radius: 50%;
}
header .nav-links {
  list-style: none;
}
p {
  color: whitesmoke;
}
header .nav-links li{
  padding: 0 5px; 
}
header .nav-links a{
  font-size: 700;
  color: whitesmoke;
  text-decoration: none;
}
span {
  cursor: pointer;
  border-radius: 49%;
  border: solid 2px whitesmoke;
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
}
.subtitulo {
  font-size: 17px;
}
