button {
    color: #0099CC;   
    background: transparent;
    border: none;
    border-radius: 6px;
    border: 2px solid #0099CC;
    padding: 20px 100px 20px 100px;
}    
button:hover {
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    background-color: #008CBA;
}
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.7);
    padding: 100px 220px;
}
span {
    text-align: center;
}