@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap");
body {
  margin: 0;
  font-family: "Kanit";
  background-color: rgb(202, 198, 198);
}
.table {
  margin: 50px auto;
  width: 80%;
  justify-content: center;
}
table {
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  width: 100%;
}
tr:hover {
  color: whitesmoke;
  background-color: rgb(197, 194, 194);
  cursor: pointer;
}
th,
td {
  text-align: center;
  padding: 20px;
  border: solid 2px black; /* ESTO ES LA LETRA DE LOS DIAS */
  font-size: 20px;
}
thead {
  color: whitesmoke;
  background-color: #003049;
}
thead th[colspan="2"] {
  width: 50%;
}
td[style="background-color: #f2f2f2;"] {
  background-color: #f2f2f2;
  font-weight: bold;
}
.recreo {
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  text-align: center; /* Texto centrado */
}
.tabla td {
  height: 50px; /* Ajusta el valor según el tamaño deseado */
}
.horas {
  background-color: #003049;
}
.lunes {
  background-color: #414a4f;
}
.martes {
  background-color: #fb9334;
}
.miercoles {
  background-color: #fe6625;
}
.jueves {
  background-color: #44857d;
}
.viernes {
  background-color: #166f71;
}
.Horarios {
  background-color: #96aeb8;
  font-size: 20px;
  font-weight: bold;
}
.dias {
  color: whitesmoke;
}
