body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(202, 198, 198);
}
.table {
    margin: 50px auto;
    width: 80%;
    justify-content: center;
}
table {
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    width: 100%;
    border: solid 1px black;
}
tr:hover {
    color: whitesmoke;
    background-color: rgb(197, 194, 194);
    cursor: pointer;
}
th,td {
    text-align: center;
    padding: 20px;
    border: solid 1px black;
}
thead {
    color: whitesmoke;
    background-color: #003049;
}