table.cal {
	display:inline-block;
	min-height:600px;
	width:97%;
	color: #06425c;
	border-spacing:0;
	border: 1px solid grey;
	border-radius: 20px 20px 20px 20px;
	padding: 2%;
	margin: 2%;
}
table > caption {
	border: 5px solid  grey;
	
	border-radius: 15px;
	text-transform: uppercase;
	text-align: center;
	background-color: #008080;
	color: #ffffff;
	font-size: 50px; 
	padding:1% 1% 1% 1% ;
	margin:2% 2% 2% 2% ;
}

tr:nth-child(odd) {
	
	border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:nth-child(even) {
		border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:last-child {
	border-radius: 0 0 10px 10px;
	padding:1%;
	margin:1%;
}


th {
	text-align: center;
	background: #ffffff;
	border: 2px outset grey;
}