* {
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0;
    font-family: Arial;
}
.register {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    border: solid 2px crimson;
    margin-top: 10px;
    border-radius: 5px;
    height: 200px;
    width: 100%;
}
.register input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}