* {
    box-sizing: border-box;
}
body {
    background-image: url("/img/foto_fondo.png");
    background-size: cover;
    font-family: Arial;
    margin: 0;
}
h2 {
    font-size: 30px;
    text-align: center;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    color: whitesmoke;
    position: relative;
    bottom: -20rem;
    left: 50%;
    padding: 30px 30px 50px;
    transform: translate(-50%,-50%);
    background-color: rgb(79, 78, 78);
    border-radius: 2%;
    margin-bottom: 10rem;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
label {
    margin-top: 15px;
}
button {
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 13px;
    color: whitesmoke;
    background-color: rgb(50, 50, 236);
}
input {
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
} 
button:hover {
    background-color: rgb(1, 1, 187);
}
.login button{
    width: 100%;
}
.checkbox {
    margin-bottom: 10px;
}
a {
    color: black;
    background-color: transparent;
}
/* Cambiar el color del borde al que hace referencia el remarcado */
img {
    border-radius: 50%;
}
.form-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.form-bottom a{
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 10px;
}
.form-bottom a:hover {
    text-decoration: underline;
}
.errores {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.errores p{
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(239, 52, 52);
}

.error {
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(239, 52, 52);
}