<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/notas.css">
    <script src="/js/index.js"></script>
    <title>Cargado notas</title>
</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="table">
            <h2> Curso: 6to 2da</h2>
            <h2> Alumno: </h2>
            <table>

                <div id="table-head">
                    <thead>
                        <tr>
                            <th scope="col">Materia</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Asistencias</th>
                        </tr>
                    </thead>
                </div>
                <div id="table-body">
                    <tbody>
                        <% for (let i = 0; i < Materia.length; i++) { %>
                          <tr>
                            <td>
                              <%= Materia[i].Nombre %>
                            </td>
                            <td>
                                <input type="text" name="nota" placeholder="Ingrese la nota">
                            </td>
                            <td>
                                <input type="text" name="asistencias" placeholder="Ingrese las asistencias">
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                </div>
            </table>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>
