<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
        <title> Mis notas </title>
</head>

<body>
    <%- include('./partials/header') %>
    <% if (typeof locals.usuarioSesion != null || undefined) {%>
        <main>
            <section class="inicio" id="">
                <div class="cuadro">
                    <div class="notas" id="notas">
                        <h2>Calificaciones</h2>
                        <button onclick="location.href='/alumnos/notas'">Ver mis notas</button>
                    </div>
                    <div class="notas" id="notas">
                        <h2>Materias y Horarios</h2>
                        <button onclick="location.href='/alumnos/horarios'">Ver mis Materias</button>
                    </div>
                </div>
            </section>
        </main>
    <% } else { %>
        <h1>no estas logueado</h1>

    <% } %>
        <%- include('./partials/footer') %>

</body>

</html>