<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/index.js"></script>
        <title>Ingreso</title>
    </head>
    <body>
        <%- include('./partials/header') %>
        <main>
            <div class="login">
                <form action="/" method="POST">
                    <h2>Login</h2>
                    <div class="login-inputs">                    
                        <label for="dni">DNI</label>
                        <input type="number" name="dni" id="dni"  min="1" max="10000000" required>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password"
                            class="form-control" required>
                        </div>
                        <input type="checkbox" name="connected" class="checkbox">
                        <label for="connected">Matenerme conectado</label>
                        <div class="errores">
                            <% if (locals && locals.error) {%>
                                <% for (let error in msgError) { %>
                                    <ul>
                                        <li><% msgError[error].msg %></li>
                                    </ul>
                                <% } %>
                            <% } %>
                        </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
                <div class="form-bottom">
                    <a href="/alumnos/register">No tienes cuenta?</a>
                    <a href="">Olvide mi contraseña</a>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>