<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/notas.css">
        <script src="/js/index.js"></script>
        <title>Notas</title>
</head>

<body>

    <%- include('./partials/header') %>

        <main>
            <div class="table">
                <h2>Curso: 6to 2da</h2>
                <table>
                    <div id="table-head">
                        <thead>
                            <tr>
                                <th scope="col">Materia</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Horarios</th>
                            </tr>
                        </thead>
                    </div>
                    <div id="table-body">
                        <tbody>
                            <tr>
                                <th scope="row">Matematica</th>
                                <th scope="row">Marta Robledo</th>
                                <th scope="row">Miercoles: 17:20 A 18:00
                                    <br> jueves: 20:10 A 21:40
                                    <br> viernes: 18:00 A 19:20
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">Ingles</th>
                                <th scope="row">Jil Yago</th>
                                <th scope="row"> Miercoles 16:00 A 17:20</th>
                            </tr>
                            <tr>
                                <th scope="row">Lengua</th>
                                <th scope="row">Navarro Monica</th>
                                <th scope="row"> Jueves 18:00 A 20:10</th>
                            </tr>
                            <tr>
                                <th scope="row">Software</th>
                                <th scope="row">Matias Fernandez</th>
                                <th scope="row"> Lunes: 15:10 A 16:40
                                    <br> miercoles: 18:00 A 19:20
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">Hardware</th>
                                <th scope="row">Matias Fernandez</th>
                                <th scope="row"></th>
                            </tr>
                            <tr>
                                <th scope="row">Practicas profesionalizantes</th>
                                <th scope="row">Matias Fernandez</th>
                                <th scope="row"></th>
                            </tr>
                            <tr>
                                <th scope="row">Asistencia</th>
                                <th scope="row">Llauca Estefania</th>
                                <th scope="row"></th>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>