<%- include('./partials/head') %>
<link rel="stylesheet" href="./css/no-oficial.css">
<body style="background: url('/img/g307\ \(1\).png');">
    <main>
        <div class="container">
            <div class="btn">
                <h1>No es un medio oficial</h1>
                <h2>Con esto nos referimos a que cualquier altercado hablar o consultar con el profesor </h2>
                <form action="/alumnos/sesion-aceptada" method="POST">
                    <button type="submit" id="boton"><span>Siguiente</span></button>
                </form>
            </div>
        </div>
    </main>
</body>