<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/notas.css">
    <script src="/js/index.js"></script>
    <title>Notas</title>
</head>

<body>
  <%- include('./partials/header') %>

    <table class="cal">
      <thead>
        <tr>
          <th>NOTAS</th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div id="materias" class="materia-cell">
              <th>
                <%= notasFinal[i].materia.Nombre %>
              </th>
            </div>
            <% } %>


        </tr>

      </thead>

      <tbody>
        <tr>
          <th class="horas">1er parcial </th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>

        </tr>

        <tr>
          <th class="horas">2do parcial </th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>
        </tr>
        <tr>
          <th class="horas"> nota</th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>

        </tr>
        <tr>
          <th class="horas">1er parcial </th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>

        </tr>

        <tr>
          <th class="horas">2do parcial </th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>
        </tr>
        <tr>
          <th class="horas"> nota</th>

          <% for (let i=0; i < notasFinal.length; i++) { %>
            <div class="materia-cell">
              <th></th>
            </div>
            <% } %>
          <td ></td>
        </tr>

      </tbody>
    </table>
</body>
<%- include('./partials/footer') %>

</html>