<link rel="stylesheet" href="/css/footer.css">

<footer class="main-footer" id="footer">

  <div class="footer-section">
    <h4>Información de contacto</h4>
    <ul>
      <li>Dirección: Rio Calendaria 3460</li>
      <li>Teléfono: 02964 30-0532</li>
      <li>Correo electrónico: cpdeguevara.sec@tdf.edu.ar</li>
    </ul>
  </div>

  <div class="footer-section">

    <h4>Formulario de consultas</h4>
    <a href="/alumnos/consultas"> Mandar correo de consulta</a>

  </div>

  <div class="footer-section">

    <h4>Síguenos en redes sociales</h4>

    <div class="footer-social-icons">
      <a href="https://www.facebook.com/colegioguevara"><span class="fab fa-facebook"></span></a>
      <a href="https://www.youtube.com/@colegioprovincialdrernesto1731"><span class="fab fa-youtube"></span></a>
      <a href="https://www.instagram.com/guevara.2023/"><span class="fab fa-instagram"></span></a>
      <a href="https://secundario.aulasdigitales.tdf.gob.ar/"><span class="fab fa-google"></span></a>
    </div>

</footer>