<link rel="stylesheet" href="/css/header.css">
<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/img/guevara.png" class="logo" onclick="location.href='/'">
        COLEGIO GUEVARA
    </div>
    <span class="fa-solid fa-user" onclick="location.href='#'"></span>
</header>