<link rel="stylesheet" href="/css/header.css">
<header class="main-header">
    <div class="logo">
        <img src="/img/guevara.png" class="logo" onclick="location.href='/'" alt="COLEGIO GUEVARA">
    </div>
    <nav>
        <ul class="nav-links">
            <li><p>Colegio Provincial Dr Ernesto Guevara</p></li>
            <li><p class="subtitulo">Inicio</p></li>
        </ul>
    </nav>
</header>