<link rel="stylesheet" href="/css/header.css">
<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/img/guevara.png" class="logo" onclick="location.href='/'" alt="COLEGIO GUEVARA">
        <h4>COLEGIO GUEVARA</h4>
    </div>
    <span id="login" class="fa-solid fa-user" onclick="location.href='/alumnos/login'"></span>
</header>