<link rel="stylesheet" href="/css/header.css">
<header>
    <img  src="/img/guevara.png" alt="" height="60px" width="70px" style="cursor: pointer; border-radius: 48%;">
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#mis-notas">Mis Notas</a></li>
            <li><a href="#consultas">Consultas</a></li>
        </ul>
    </nav>
</header>